defaults:
  - env: franka
  - experiment: vae
  - model: vae
  - _self_

hydra:
  run:
    dir: ${experiment.run_dir}

# general
seed: 42
resume: false

# training
num_iters: 5e5
log_interval: 100
eval_interval: 1e3
sim_interval: 5e3
save_interval: ${experiment.save_interval}
device: cuda
ema_decay: 0.995
use_ema: True

#dims
obs_dim: null
act_dim: null
num_envs: 64

# diffusion
sampling_steps: 10

policy:
  obs_dim: ${obs_dim}
  act_dim: ${act_dim}
  T: ${env.T}
  T_action: ${env.T_action}
  sampling_steps: ${sampling_steps}
  lr: 2e-4
  num_iters: ${num_iters}
  device: ${device}

dataset:
  env_name: ${env.env_name}
  T: ${env.T}
  train_fraction: 0.99
  train_batch_size: 1024
  test_batch_size: 1024
  num_workers: 4
